.background{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(rgba(254,126,94), rgba(255,240,101, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 57px;
    width: 140px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}

.gameContainer{
   height: 547px;
   width:  1386px;
   background: white;
   border-radius: 12px;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.playlistName{
    width: 1300px;
    font-size:24px;

}

.question{
    width:  1386px;
    display: flex;
    justify-content: center;
}

.equipeContainer{
   display:flex;
   justify-content: space-between;
   width: 1000px;
}

.equipe1{
    height: 345px;
    width:  220px;
    background: #F1E9A7;
    border-radius: 20px;
}

.equipe2{
    height: 345px;
    width:  220px;
    background: #FD8762;
    border-radius: 20px;
}

.numerQuestion{
    font-size: 30px;
    color: #FD8762;
}

.questionFont{
    font-size: 30px;
}

.namePlaylist{
    font-size: 24px;
}

.fontNumber{
    font-size: 30px;
}
.fontEquipe{
    font-size: 24px;
}
.fontScore{
    font-size: 144px;
}
.fontName{
    font-size:20px;
}