body{
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.section1{
    height: 100vh;
    background: url('../../img/backgroundcover.png');
    background-size: cover ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section1 img{
    position: absolute;
    width: 9.722vw;
    left: 1.389vw;
    top: 1.389vw;
}

.section1 h1{
    width: 45.417vw;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.section1 h2{
    width: 38.264vw;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    margin-top: 35px;
    color: #052F5F;
}

.section1 a{
    font-size: 30px;
    width: 329px;
    height: 95px;
    background: #1DB954;
    border-radius: 30px;
    text-align: center;
    line-height: 95px;
    color: #ffffff;
    margin-top: 35px;
    text-decoration: none;
}

.section2{
    height: 34.028vw;
    width: 100vw;
    background: url('../../img/backgroundcovers.svg');
    background-size: cover;
    background-attachment: fixed;
}

.section2 .rectangle{
    position: absolute;
    left: 167.82px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.section2 .rectangle1{
    top: 820.51px;
    width: 32.334vw;
}

.section2 .rectangle2{
    top: 866.6px;
    width: 26.535vw;
}

.section2 .rectangle3{
    top: 912.88px;
    width: 20.940vw;
}

.section2 h2{
    width: 31.944vw;
    position: relative;
    top: 89px;
    left: 170px;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.section2 .searchbar{
    position: absolute;
    top: 988.14px;
    left: 647.69px;
    font-weight: 600;
    font-size: 26px;
    color: #ffffff;
    line-height: 35px;
    background: none;
    width: 38vw;
    border: none;
    border-bottom: #ffffff solid 1px;
}

.section2 .searchbar::placeholder{
    opacity: 1;
    color: #ffffff;
}

.section2 .searchbar:focus{
    outline: none;
}

.section2 p{
    position: relative;
    width: 100px;
    top: 316px;
    left: 170px;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #FFFFFF;
    margin: 0;
}

.section3{
    /* enlever la height quand on dev le compenent playlist */
    /* height: 720px; */
    background: #ffffff;
    padding: 90px;
    padding-top: 60px;
    padding-bottom: 20px;
    box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.18);

}
